<!--<ion-header [translucent]="true" class="ion-no-border">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-avatar class="avatar-sm ion-margin-start" (click)="openSettings()">-->
<!--        <img src="assets/img/avatars/7.jpg" alt="">-->
<!--      </ion-avatar>-->
<!--    </ion-buttons>-->

<!--    <ion-title>Чаты</ion-title>-->

<!--    <ion-buttons slot="end">-->
<!--&lt;!&ndash;      <ion-button color="dark">&ndash;&gt;-->
<!--      <ion-button color="dark" (click)="openUserSearch()">-->
<!--        <ion-icon slot="icon-only" name="create-outline"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->

<!--  <ion-toolbar>-->
<!--    <ion-searchbar placeholder="Поиск" (ionInput)="filterChats($event)"></ion-searchbar>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <div class="chat-list">-->
<!--    <ion-list *ngIf="filteredChats.length > 0">-->
<!--      <ion-item-->
<!--        class="chat-item"-->
<!--        lines="none"-->
<!--        [routerLink]="['/chat', chat.id]"-->
<!--        *ngFor="let chat of filteredChats"-->
<!--        routerLink="/chat"-->
<!--        detail="false"-->
<!--      >-->
<!--        <ion-avatar class="avatar-md" slot="start">-->
<!--          <img [src]="chat.avatar" alt="">-->
<!--        </ion-avatar>-->
<!--        <ion-label>-->
<!--          <h2 class="chat-name">{{ chat.name }}</h2>-->
<!--          <div class="chat-description">-->
<!--            <div class="content-preview">{{ chat.lastMessage }}</div>-->
<!--            <div class="time-ago">· {{ chat.time }}</div>-->
<!--          </div>-->
<!--        </ion-label>-->
<!--      </ion-item>-->
<!--    </ion-list>-->

<!--    &lt;!&ndash; Если чаты не найдены, выводим сообщение &ndash;&gt;-->
<!--    <div *ngIf="filteredChats.length === 0" class="no-chats-found">-->
<!--      <p>Чаты не найдены</p>-->
<!--      <div class="search-animation">-->
<!--        &lt;!&ndash; Простая анимация для визуального эффекта &ndash;&gt;-->
<!--        <ion-icon name="sad-outline" class="no-chats-icon"></ion-icon>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ion-content>-->

<!--<ion-header [translucent]="true" class="ion-no-border">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-avatar class="avatar-sm ion-margin-start" (click)="openSettings()">-->
<!--        <img src="assets/img/avatars/7.jpg" alt="">-->
<!--      </ion-avatar>-->
<!--    </ion-buttons>-->

<!--    <ion-title>Чаты</ion-title>-->

<!--    <ion-buttons slot="end">-->
<!--      <ion-button color="dark" (click)="openUserSearch()">-->
<!--        <ion-icon slot="icon-only" name="create-outline"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->

<!--  <ion-toolbar>-->
<!--    <ion-searchbar placeholder="Поиск" (ionInput)="filterChats($event)"></ion-searchbar>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <div class="chat-list">-->
<!--    <ng-container *ngFor="let group of filteredChatGroups">-->
<!--      <ion-item (click)="toggleGroup(group)">-->
<!--        <ion-label>{{ group.name }} ({{ group.chats.length }})</ion-label>-->
<!--      </ion-item>-->
<!--      <ion-list *ngIf="group.isOpen">-->
<!--        <ion-item-->
<!--          class="chat-item"-->
<!--          lines="none"-->
<!--          [routerLink]="['/chat', chat.id]"-->
<!--          *ngFor="let chat of group.chats"-->
<!--          detail="false"-->
<!--        >-->
<!--          <ion-avatar class="avatar-md" slot="start">-->
<!--            <img [src]="chat.avatar" alt="">-->
<!--          </ion-avatar>-->
<!--          <ion-label>-->
<!--            <h2 class="chat-name">{{ chat.name }}</h2>-->
<!--            <div class="chat-description">-->
<!--              <div class="content-preview">{{ chat.lastMessage }}</div>-->
<!--              <div class="time-ago">· {{ chat.time }}</div>-->
<!--            </div>-->
<!--          </ion-label>-->
<!--        </ion-item>-->
<!--      </ion-list>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Если чаты не найдены, выводим сообщение &ndash;&gt;-->
<!--    <div *ngIf="filteredChatGroups.length === 0" class="no-chats-found">-->
<!--      <p>Чаты не найдены</p>-->
<!--      <div class="search-animation">-->
<!--        &lt;!&ndash; Простая анимация для визуального эффекта &ndash;&gt;-->
<!--        <ion-icon name="sad-outline" class="no-chats-icon"></ion-icon>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ion-content>-->


<!--<ion-header [translucent]="true" class="ion-no-border">-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-avatar class="avatar-sm ion-margin-start" (click)="openSettings()">-->
<!--        <img src="assets/img/avatars/7.jpg" alt="">-->
<!--      </ion-avatar>-->
<!--    </ion-buttons>-->

<!--    <ion-title>Чаты</ion-title>-->

<!--    <ion-buttons slot="end">-->
<!--      <ion-button color="dark" (click)="openUserSearch()">-->
<!--        <ion-icon slot="icon-only" name="create-outline"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->

<!--  <ion-toolbar>-->
<!--    <ion-searchbar placeholder="Поиск" (ionInput)="filterChats($event)"></ion-searchbar>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true">-->
<!--  <div class="chat-list">-->
<!--    <ng-container *ngFor="let group of filteredChatGroups">-->
<!--      <ion-item (click)="toggleGroup(group)" *ngIf="group.chats.length > 1">-->
<!--        <ion-label>{{ group.name }} ({{ group.chats.length }})</ion-label>-->
<!--      </ion-item>-->
<!--      <ion-list *ngIf="group.isOpen && group.chats.length > 1">-->
<!--        <ion-item-->
<!--          class="chat-item"-->
<!--          lines="none"-->
<!--          [routerLink]="['/chat', chat.id]"-->
<!--          *ngFor="let chat of group.chats"-->
<!--          detail="false"-->
<!--        >-->
<!--          <ion-avatar class="avatar-md" slot="start">-->
<!--            <img [src]="chat.avatar" alt="">-->
<!--          </ion-avatar>-->
<!--          <ion-label>-->
<!--            <h2 class="chat-name">{{ chat.name }}</h2>-->
<!--            <div class="chat-description">-->
<!--              <div class="content-preview">{{ chat.lastMessage }}</div>-->
<!--              <div class="time-ago">· {{ chat.time }}</div>-->
<!--            </div>-->
<!--          </ion-label>-->
<!--        </ion-item>-->
<!--      </ion-list>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Отображение одиночных чатов &ndash;&gt;-->
<!--    <ion-list>-->
<!--      <ng-container *ngFor="let group of filteredChatGroups">-->
<!--        <ion-item-->
<!--          class="chat-item"-->
<!--          lines="none"-->
<!--          [routerLink]="['/chat', group.chats[0].id]"-->
<!--          *ngIf="group.chats.length === 1"-->
<!--          detail="false"-->
<!--        >-->
<!--          <ion-avatar class="avatar-md" slot="start">-->
<!--            <img [src]="group.chats[0].avatar" alt="">-->
<!--          </ion-avatar>-->
<!--          <ion-label>-->
<!--            <h2 class="chat-name">{{ group.chats[0].name }}</h2>-->
<!--            <div class="chat-description">-->
<!--              <div class="content-preview">{{ group.chats[0].lastMessage }}</div>-->
<!--              <div class="time-ago">· {{ group.chats[0].time }}</div>-->
<!--            </div>-->
<!--          </ion-label>-->
<!--        </ion-item>-->
<!--      </ng-container>-->
<!--    </ion-list>-->

<!--    <div *ngIf="filteredChatGroups.length === 0" class="no-chats-found">-->
<!--      <p>Чаты не найдены</p>-->
<!--      <div class="search-animation">-->
<!--        <ion-icon name="sad-outline" class="no-chats-icon"></ion-icon>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ion-content>-->

<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="avatar-sm ion-margin-start" (click)="openSettings()">
        <img src="assets/img/avatars/7.jpg" alt="">
      </ion-avatar>
    </ion-buttons>

    <ion-title>Чаты</ion-title>

    <ion-buttons slot="end">
      <ion-button color="dark" (click)="openUserSearch()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Поиск" (ionInput)="filterChats($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-list">
    <ng-container *ngFor="let group of filteredChatGroups">
      <ion-card *ngIf="group.chats.length > 1" (click)="toggleGroup(group)">
        <ion-card-header>
          <ion-card-title>{{ group.name }} ({{ group.chats.length }})</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="group.isOpen">
          <ion-list>
            <ion-item
              class="chat-item"
              lines="none"
              [routerLink]="['/chat', chat.id]"
              *ngFor="let chat of group.chats"
              detail="false"
            >
              <ion-avatar class="avatar-md" slot="start">
                <img [src]="chat.avatar" alt="">
              </ion-avatar>
              <ion-label>
                <h2 class="chat-name">{{ chat.name }}</h2>
                <div class="chat-description">
                  <div class="content-preview">{{ chat.lastMessage }}</div>
                  <div class="time-ago">· {{ chat.time }}</div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <!-- Отображение одиночных чатов -->
    <ion-list>
      <ng-container *ngFor="let group of filteredChatGroups">
        <ion-item
          class="chat-item"
          lines="none"
          [routerLink]="['/chat', group.chats[0].id]"
          *ngIf="group.chats.length === 1"
          detail="false"
        >
          <ion-avatar class="avatar-md" slot="start">
            <img [src]="group.chats[0].avatar" alt="">
          </ion-avatar>
          <ion-label>
            <h2 class="chat-name">{{ group.chats[0].name }}</h2>
            <div class="chat-description">
              <div class="content-preview">{{ group.chats[0].lastMessage }}</div>
              <div class="time-ago">· {{ group.chats[0].time }}</div>
            </div>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <!-- Если чаты не найдены, выводим сообщение -->
    <div *ngIf="filteredChatGroups.length === 0" class="no-chats-found">
      <p>Чаты не найдены</p>
      <div class="search-animation">
        <ion-icon name="sad-outline" class="no-chats-icon"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

