<ion-header>
  <ion-toolbar>
    <ion-back-button class="ion-back-button-sm" defaultHref="/chats/list"></ion-back-button>
    <div class="header-avatar-title">
      <ion-avatar class="avatar-sm ion-margin-start">
        <img [src]="chat?.avatar" alt="">
      </ion-avatar>
      <ion-title class="ion-margin-start">{{ chat?.name }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="chat-list">
    <div *ngFor="let item of displayedMessages" [ngClass]="{'chat-item-sender': item.isSender}">
      <div class="chat-timestamp">{{ item.timestamp }}</div>
      <div class="chat-item-content">
        <div class="chat-avatar" *ngIf="!item.isSender">
          <ion-avatar class="avatar-sm">
            <img [src]="item.avatar">
          </ion-avatar>
        </div>
        <div class="chat-item-bubble" [ngClass]="{'bubble-image': item.type === 'image', 'sender-bubble': item.isSender, 'receiver-bubble': !item.isSender}">
          <div *ngIf="item.type === 'text'" [innerHtml]="nl2br(item.body)"></div>
          <img *ngIf="item.type === 'image'" [src]="item.body">
        </div>
      </div>
    </div>
  </div>

  <!-- Бесконечный скролл -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isFocus">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="image"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="mic"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" *ngIf="isFocus">
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-input
      class="message-input"
      placeholder="Aa"
      [(ngModel)]="messageInput"
      (ionFocus)="toggleFocus(true)"
      (ionBlur)="toggleFocus(false)">
    </ion-input>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
