<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-back-button class="ion-back-button-sm btn-back" defaultHref="/chats/list"></ion-back-button>
      <div class="header-avatar-title">
        <ion-avatar class="avatar-sm ion-margin-start avatar-chat">
          <img [src]="chat?.avatar" alt="">
        </ion-avatar>
        <ion-title class="ion-margin-start">{{ chat?.name }}</ion-title>
      </div>

      <ion-buttons slot="end" class="setting-chat">
        <ion-button (click)="openSettingsMenu()">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<div *ngIf="isSettingsMenuOpen" class="popup-settings-chat">
  <ion-list>
    <ion-item button (click)="confirmDeleteChat()">
      <ion-label class="delete-chat-btn">Удалить чат</ion-label>
    </ion-item>
  </ion-list>
</div>

<!-- Панель для удаления выбранных сообщений -->
<ion-toolbar *ngIf="selectedMessageIds.length > 0">
  <ion-title>{{ selectedMessageIds.length }} сообщений выбрано</ion-title>
  <ion-buttons slot="end">
    <ion-button *ngIf="showEditButton" (click)="onEditMessage()" class="edit-button">Изменить</ion-button>
    <ion-button color="danger" (click)="deleteSelectedMessages()">Удалить</ion-button>
  </ion-buttons>
</ion-toolbar>


<div class="chat_wrapper" #scrollWrapper
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">
<!--  <div class="drop-zone-overlay" *ngIf="isDragging">-->
<!--    <p>Перетащите сюда файл</p>-->
<!--  </div>-->
  <!-- Шаблон для отображения сообщения "Чат пуст" -->
  <div *ngIf="displayedMessages.length === 0" class="empty-chat-message">
    Чат пуст, будьте первым, кто напишет
  </div>

  <div class="chat-list" #scrollContent>
    <!-- Плавная прокрутка вверх при загрузке сообщений -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="onScroll($event)" [disabled]="!canLoadMore">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <!-- Модальное окно для отображения увеличенного изображения -->
    <div id="imageModal" class="modal-backdrop" (click)="closeModal()">
      <div class="modal-image-container">
        <span class="close-button" (click)="closeModal()">✕</span>
        <img id="modalImage" src="" alt="Увеличенное изображение" />
      </div>
    </div>

    <div *ngFor="let item of displayedMessages" [ngClass]="{'chat-item-sender': item.isSender}" class="message-container" (click)="toggleMessageSelection(item.id ? item.id : 0, item.isSender, $event)">
      <div class="chat-timestamp">{{ item.timestamp }}</div>
      <div class="chat-item-content">
        <div class="chat-item-bubble" [ngClass]="{'bubble-image': item.type === 'image', 'sender-bubble': item.isSender, 'receiver-bubble': !item.isSender, 'selected': isMessageSelected(item.id ? item.id : 0)}">

        <!-- Отображение файлов -->
<!--          <div *ngIf="(item.files && item.files.length > 0) || item.type === 'file'">-->
<!--            <div class="file-item" *ngFor="let file of item.files">-->
<!--              <ion-icon [name]="getFileIcon(file)" slot="start"></ion-icon>-->
<!--              <div class="file-info">-->
<!--                <span class="file-name">{{ file.name }}</span>-->
<!--                <span class="file-details">{{ (file.size / 1024 / 1024).toFixed(2) }} MB • {{ file.type }}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div [id]="'a' + item.id" class="img-puddle"></div>

          <div *ngIf="item.type === 'file'" (click)="downloadFile(item.fileInfo?.ID)">
            <div class="file-item">
              <ion-icon [name]="getFileIconContentMsg(item.body)" slot="start"></ion-icon>
              <div class="file-info">
                <span class="file-name">{{ item.body }}</span>
                    <span class="file-details">{{ ((item.fileInfo?.Size || 0) / 1024 / 1024).toFixed(2) }} MB • {{ getFileIconContentMsg(item.body) }}</span>
              </div>
            </div>
          </div>

          <!-- Отображение текста, если он есть -->
          <div *ngIf="item.body" [innerHtml]="nl2br(item.type === 'text' ? item.body : '')"></div>

          <!-- Отображение изображений -->
          <img *ngIf="item.type === 'image'" [src]="item.body">
        </div>
      </div>
    </div>


    <ion-footer class="ion-no-border message-footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFilePicker()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple style="display: none;" />
    </ion-buttons>

    <div class="selected-files" *ngFor="let file of selectedFiles">
      <ion-icon [name]="getFileIcon(file)" slot="start"></ion-icon>
      <span>{{ file.name }} ({{ (file.size / 1024 / 1024).toFixed(2) }} MB)</span>
      <ion-icon name="close-circle" (click)="removeFile(file)" slot="end"></ion-icon>
    </div>


    <ion-input
      class="message-input"
      placeholder="Aa"
      [(ngModel)]="messageInput"
      (ionFocus)="toggleFocus(true)"
      (ionBlur)="toggleFocus(false)">
    </ion-input>

    <ion-buttons slot="end">
      <ion-button *ngIf="!isEditingMessage" (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isEditingMessage" (click)="onConfirmEdit()" class="send-button">✔</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
