@import './chatui.scss';

.message-input {
  --background: var(--ion-color-light);
  --padding-start: 12px;
  --padding-end: 12px;
  border-radius: 20px;
}

.ion-back-button-sm {
  --icon-size: 20px;
  width: 20px;
  height: 20px;
}

.chat-list {
  //display: flex;
  //flex-direction: column; /* Меняем направление на "снизу вверх" */
  //overflow-y: auto; /* Обычное прокручивание */
}

.chat_wrapper{
  height: 100%;
  overflow-y: auto;
}

.chat-item {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.chat-item-sender {
  justify-content: flex-end;
}

.chat-item-content {
  display: flex;
  align-items: center;
  margin: 5px 0 0px 15px;
}

.chat-item-sender .chat-item-content {
  justify-content: flex-end; /* Выравнивание сообщений отправителя по правой стороне */
}

.chat-avatar {
  margin-right: 10px;
}

.chat-item-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sender-bubble {
  background-color: #32cd32; /* Зеленый цвет для отправителя */
  color: white;
  border-bottom-right-radius: 0;
  margin: 20px; /* Добавляем отступ справа */
}


.receiver-bubble {
  background-color: #1e90ff; /* Синий цвет для получателя */
  color: white;
  border-bottom-left-radius: 0;
}

.chat-timestamp {
  font-size: 0.75rem;
  color: #999;
  margin: 5px;
}

.message-input {
  --background: var(--ion-color-light);
  --padding-start: 12px;
  --padding-end: 12px;
  border-radius: 20px;
}

.ion-footer {
  --background: white;
}

.header-avatar-title {
  display: flex;
  align-items: center;
  margin: 10px;
}


.selected-files {
  display: flex;
  align-items: center;
  margin-top: 3px;
  padding: 3px;
  border-radius: 10px;
  //background-color: #f5f5f5;
}


.selected-files ion-icon[name="close-circle"] {
  cursor: pointer;
  margin: 3px;
}

.chat_wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto;
  border: 2px dashed transparent;
  transition: border-color 0.3s ease-in-out;
  padding-bottom: 60px; /* Увеличьте значение в зависимости от высоты футера */

}

.chat_wrapper.dragging {
  border-color: #1e90ff;
}

.drop-zone-overlay {
  align-items: center;
  background-color: rgba(30, 144, 255, 0.2);
  z-index: 100;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.drop-zone-overlay p {
  font-size: 1.5rem;
  color: #1e90ff;
}



.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;

  ion-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .file-info {
    display: flex;
    flex-direction: column;

    .file-name {
      font-weight: bold;
    }

    .file-details {
      font-size: 12px;
      color: white;
    }
  }
}

.message-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.empty-chat-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #666;
  font-size: 1.2em;
}


.header-content {
  display: flex;
  align-items: center;
}


.btn-back {
}

.avatar-chat {
  width: 36px;
  height: 36px;
}

.message-container {
  position: relative;
  padding-bottom: 10px; /* Для места под иконками */
}

.message-icons {
  position: absolute;
  bottom: 0;
  top: 50px;
  right: 0;
  display: none;
  gap: 10px;
}

.message-container:hover .message-icons {
  display: flex;
}

.message-icon {
  cursor: pointer;
  color: #555;
  font-size: 16px;
  transition: color 0.2s;
}

.message-icon:hover {
  color: #fff;
}

.selected {
  background-color: red;
}

.setting-chat{
  position: absolute;
  right: 15px;
}

.popup-settings-chat{
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 100;
  min-width: 150px;
}

.delete-chat-btn{
  color: red;
}
