.not-found-container {
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  height: 100%; /* Занимает всю высоту контейнера */
  text-align: center; /* Центрирует текст */
}

.template_user_search{
  cursor: pointer;
}
