<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showChatSettings">
      <ion-back-button text="Назад" (click)="goToMainSettings()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="closeModal()">Готово</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper" *ngIf="!showChatSettings">
    <div class="ion-padding ion-text-center">
      <ion-avatar class="avatar-lg" (click)="fileInput.click()">
        <img [src]="photoUrl" alt="Аватар пользователя">
      </ion-avatar>
      <input type="file" #fileInput accept="image/*" (change)="onPhotoSelected($event)" hidden>

      <!-- Кнопка для сохранения фото, видна только при выборе фото -->
      <ion-button *ngIf="selectedPhoto" expand="full" color="primary" (click)="savePhoto()">
        Сохранить фото
      </ion-button>
      <h3><strong>{{ username }}</strong></h3>
      <p>{{ email }}</p> <!-- Отображение email -->
    </div>

    <ion-list>

      <ion-item>
        <ion-label position="floating">О себе</ion-label>
        <ion-textarea [(ngModel)]="about" (ionInput)="onAboutChange()"></ion-textarea>
      </ion-item>

      <!-- Кнопка сохранения изменений, видимая только если были изменения -->
      <ion-button *ngIf="showSaveButton" expand="full" color="primary" (click)="saveAboutChanges(token, userId)">
        Сохранить изменения
      </ion-button>

      <ion-list-header class="list-header-custom">
        Персонализация
      </ion-list-header>
      <ion-item detail (click)="openChatSettings()">
        <ion-icon name="chatbubble" color="primary" slot="start"></ion-icon>
        <ion-label>
          Настройки чатов
        </ion-label>
      </ion-item>
      <!-- другие элементы меню -->
    </ion-list>

    <ion-button expand="full" color="danger" (click)="logout()">
      Выйти
    </ion-button>
  </div>

  <div class="content-wrapper" *ngIf="showChatSettings">
    <ion-list>
      <ion-list-header class="list-header-custom">
        Настройки чата
      </ion-list-header>
      <ion-item>
        <ion-label>Фон чата</ion-label>
        <ion-select [(ngModel)]="chatBackground" (ionChange)="saveChatSettings()">
          <ion-select-option value="light">Светлый</ion-select-option>
          <ion-select-option value="dark">Темный</ion-select-option>
          <ion-select-option value="custom">Свой</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Подложка сообщений</ion-label>
        <ion-select [(ngModel)]="messageBackground" (ionChange)="saveChatSettings()">
          <ion-select-option value="white">Белый</ion-select-option>
          <ion-select-option value="gray">Серый</ion-select-option>
          <ion-select-option value="transparent">Прозрачный</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
